---
export interface Props {
  imageSrc: string;
  name: string;
  tagline: string;
}

const { imageSrc, name, tagline } = Astro.props;
---

<div class="profile animate delay-1">
  <div class="profile-image">
    <img src={imageSrc} alt={name}>
  </div>
  <div class="profile-name">{name}</div>
  <div class="profile-tagline">{tagline}</div>
  <slot />
</div>
